@media (max-width: 800px) {
  .experiences-container {
    padding-top: 100px;
    h2 {
      font-size: 3rem;
    }
    div {
      &:nth-child(1) {
        .experiences {
          flex-direction: column;
          ul {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .experiences-container {
    h2 {
      font-size: 2.7rem;
    }
  }
}
