@media (max-width: 800px) {
  .knowledge {
    padding: 100px 20px 0px 20px;

    .knowledge-container {
      h2 {
        font-size: 3rem;
      }
      .list-knowledge {
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
      }
    }
  }
}

@media (max-width: 500px) {
  .knowledge {
    .knowledge-container {
      h2 {
        font-size: 2.7rem;
        text-align: center;
      }
      .list-knowledge {
        grid-template-columns: 1fr;
      }
    }
  }
}
